/*-----------------------NULL ALL------------------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;
}

*::selection {          /*------------------выделенный ---------------*/
    background-color: #ffff;
    color: #636466;
}

body {
	line-height: 1.5;
    font-size: 18px;
    font-weight: 400;
    background-color: #ffff;
}

a {
	text-decoration: none;  /* подчеркивание*/
    color: inherit;
    transition: all 0.3s;
}

p {
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 125%;
    font-weight: 400;
}

ul,
ol,
li {
	list-style: none; /* убираем подчёркивание */
}

._ibg img {       /* позицианируем */
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*-----------------------общие------------------*/

html {
    scroll-behavior: smooth; /* scroll */
}

.wrapper {
    overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

._container {
	max-width: 1440px;
	margin: 0px  auto;
}

.section {
    width: 100%;
}

.section:not(:last-child) {
    padding-bottom: 30px;
}

.section > *:not(:first-child){
    margin: 15px 10px;
}

.section_title {
    color:#031a4d;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;  /* caps */
    letter-spacing: 2px;   /* межбуквенное */
    line-height: 1.2;
}

.section_subtitle,
.prompt_header {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 10px;
}

.section_title_line {
    height: 1px;
    background-color:#dbdcdd;
    margin: 10px 0;
}

._link:hover {
    color: #031a4d;
    transition: all 0.5s;
    text-shadow: 1px -1px 1px #031a4d;
}

/*-----------------------header------------------*/
.header {
    position: relative;
    z-index: 999;
}

.header_menu_container {
    height: 20px;
    padding: 10px 0;
}

.prompt_header {
    color: #031a4d;
    font-weight: 700;
}

.header_menu_container,
.header_container:hover  .header_visibility {
    display: none;
}

.header_container:hover .header_menu_container {
    display: block;
    animation: animations 1s ease-out;
}

.header_visibility {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 20px;
    width: 100%;
    padding: 10px 0;
}

@keyframes animations {
    0% {opacity: 0;}
    10% {opacity: 0.5;}
    100% {opacity: 1;}
}

.menu_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_item:hover {
    text-shadow: 1px -1px 1px #031a4d;
}

@media (max-width: 1040px) {
    .menu_list {
        flex-wrap: wrap;
    }
}

.nav-link {
    padding: 0 20px;
    line-height: 25px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    transition: 0.3s;
    cursor: pointer;
    color:#031a4d;
}

.menu_item:hover .nav-link {
    color:#ffff;
}

/*-----------------------main------------------*/
.main {
    margin: -46px 0 0 0;
    position: relative;
    z-index: 2;
}

.wrapper_main {
    display: flex;
}

.container_main {
    padding: 100px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*-----------------------main content left------------------*/

.container_left {
    justify-content: start;
    flex: 0 1 33%;
    background-color: #dbdcdd;
    color: #636466;
    padding-left: 30px;
    padding-right: 30px;
}

.section_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_title_profile {
    font-size: 34px;
    font-weight: 900;
    letter-spacing: 4px;
}

.avatar {
    margin: -20px 0 50px 0;
    height: 250px;
    width: 250px;
}

.avatar_img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.section_contacts_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills_item > * :not(:last-child) 

.section_title_skils,
.skills_item > :not(:last-child) {
    padding-bottom: 15px;
}

.skills_level {
    width: 100%;
    height: 5px;
    display: flex;
    flex-direction: row;
    padding: 10px 0 0 0;
}

.skills_level > :nth-child(1){
    background-color: #636466;
}

.skills_level > :nth-child(2) {
    background-color: #031a4d;
}

.level_HTml5_max {
    flex: 0 1 60%;
}

.level_HTml5_min {
    flex: 0 1 40%;
}

.level_css_max {
    flex: 0 1 70%;
}

.level_css_min {
    flex: 0 1 30%;
}

.lang_level {
    display: flex;
    justify-content: center;
}

.lang_level > * {
    padding: 0 10px 10px 0;
}

/*-----------------------main content right------------------*/
.container_right {
    flex: 0 1 67%;
    background-color: #636466;
    color: #ffff;
}

.section_right {
    display: flex;
}

.container_right_one {
    flex: 0 1 33%;
    text-align: right;
    padding-right: 10px;
}

.container_right_two {
    flex: 0 1 67%;
    text-align: left;
    padding-left:  10px;
}

.code_content {
    padding-top: 20px;
    background-color: #dbdcdd;
    color: #636466;
    text-align: left;
}

.container_hobies_icon {
    width: 48px;
    height: 48px;
}

.section_hobies_icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container_hobies_icon:not(:last-of-type) {
    padding-right: 40px;
}


/*-----------------------footer------------------*/
footer {
    min-width: 100%;
    margin: 0 auto;
    position: relative;
}

.container_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #636466;
}

.container_footer > * {
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
}

.image_footer {
    width: 121px;
    height: 45px;
    background-image: url(assets/svg/rs_school_js.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
