/*-----------------------NULL ALL------------------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	height: 100%;
	line-height: 1,5;
    font-size: 18px;
    font-weight: 400; 
}

a {
	text-decoration: none;  /* */
}

ul,
ol,
li {
	list-style: none; /* убираем подчёркивание */
}
img {
	vertical-align: top; /*прижымаем вверх*/
}

/*-----------------------общие------------------*/

html {
    scroll-behavior: smooth; /* scroll */
}
  
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    padding: 0px 15px;
}

.section {
    padding: 20px 0 0 0 ;
}

.section_title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase; 
    letter-spacing: 4px;   /* межбуквенное */
}

/*-----------------------header------------------*/

/* .menu_item {   
}

.header_menu {
} 
*/

.menu_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: 0.3s;
    cursor: pointer;
    color:black;
}

.nav-link:hover {
    color:#636466;
}


.avatar {
    height: 250px;
    width: 250px;
    background-image: url(assets/img/yakub_avatar2.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

/*-----------------------main------------------*/

.wrapper_main {
    display: flex;
    flex-wrap: nowrap;
}

.container_left {
    flex: 0 1 33%;
    background-color: #dbdcdd;
    color: #636466;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.container_right {
    flex: 0 1 67%;
    background-color: #636466;
    color: #ffff;
}

/*-----------------------footer------------------*/

.container_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #636466;
}

.image_footer {
    width: 121px;
    height: 45px;
    background-image: url(assets/svg/rs_school_js.svg);
    background-size: contain;
    background-repeat: no-repeat;
    
}